/* 画面外にいる状態 */
.fadein {
	opacity : 0;
	transform : translate(0, 50px);
	transition : all 500ms;
	}
  /* 画面内に入った状態 */
.fadein.scrollin {
  opacity : 1;
  transform : translate(0, 0);
  }

  .fadein:nth-of-type(2) {
    -moz-transition-delay:200ms;
    -webkit-transition-delay:200ms;
    -o-transition-delay:200ms;
    -ms-transition-delay:200ms;
    }

    .fadein:nth-of-type(3) {
      -moz-transition-delay:400ms;
      -webkit-transition-delay:400ms;
      -o-transition-delay:400ms;
      -ms-transition-delay:400ms;
      }